## All Non-Dist Directories
codecs/
config/
docs/
examples/
src/
test/
scripts/
testImages/

## Root Files
.babelrc
.eslintignore
.gitignore
.jsdocrc
.node-version
.travis.yml
changelog.md
karma.conf.js
